#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: .5s ease;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* ------------------------------------ */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cardwrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.logowrapper{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.searchinput{
  padding: .8rem;
  margin-bottom: .5rem;
  width: 35vw;
}
.searchbtn{
  margin-top: .5rem;
}
.titleh2{
  text-align: left;
}

@media only screen and (max-width: 640px){
  .titleh2{
    text-align: center;
  }
  .searchbtn{
    width: auto;
  }
}