
.card{
  background-color: rgb(246, 246, 246);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
  width: 250px;
  border-radius: 3px;
  overflow: hidden;
}
.posterwrapper{
  display: flex;
  justify-content: center;
}
img{
  width: 15rem; 
  height: auto;
}
p{
  padding: 0;
  margin: 0;
}
a{
  cursor: pointer;
}
.overviewTitle{
  margin: 1rem 0 .5rem 0;
}
.cardinfo{
  display: flex;
  justify-content: space-between;
  margin-top: rem;
  /* transform: translateY(-100%); */
} 